*{
          margin: 0px;
          padding: 0px;
          box-sizing: border-box;
}
body{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
}
.zone{
          background-color: aliceblue;
          box-shadow: 4px 3px 30px black;
          border: 30px;
          margin: 10%;
          padding: 60px;
          border-radius: 20px;
}
.nom{
          font-size: 15px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p{
          font-size: 15px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
          width: 100%;
          height: 100%;
          border-radius: 80%;
          background-color: aqua;
          padding: 3px;
          width: 100px;
          height: 100px;
          position: relative;
          border: 100px solid white;
}

